:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.main__introduction {
  margin-bottom: 3em;
}

.sender {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.receiver {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.message {
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 1em;
  border-radius: 0.5em;
  width: 90vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.message__title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  margin: 0;
}

.message__content {
  min-height: 10em;
  border: 1px solid #808080;
  padding: 0.5em;
  border-radius: 0.5em;
  overflow-y: scroll;
}

.message__input {
  min-height: 3em;
}

.message__send-button {
  border: 1px solid #808080;
}

.own-info {
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 1em;
  border-radius: 0.5em;
  width: 90vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.own-info__title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  margin: 0;
}

.own-info__description-value,
.own-info__ice-candidate-value {
  word-break: break-all;
  text-align: left;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.remote-info {
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 1em;
  border-radius: 0.5em;
  width: 90vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.remote-info__title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  margin: 0;
}

.remote-info__description-input {
  min-height: 20em;
}

.remote-info__ice-input {
  min-height: 10em;
}

.connection {
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 1em;
  border-radius: 0.5em;
  width: 90vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.connection__title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  margin: 0;
}

.connection__state-title {
  margin-bottom: 0;
}

.connection__connect-button {
  margin-top: 2em;
  border: 1px solid #808080;
}
